doctype html
html(lang='zh-CN')
  head
    include header.jade
    link(href='stylesheets/bootstrap-datetimepicker.min.css', rel='stylesheet', media='screen')
    link(href='stylesheets/index.css', rel='stylesheet')
  body
    nav.navbar.navbar-default.my-nav-bar.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#my-navbar-collapse', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand#navbar-title
            span.glyphicon.glyphicon-stats(aria-hidden='true')#title-icon
            | 宽带网用户感知分析系统
        #my-navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a 
                span.glyphicon.glyphicon-user    
                |  #{username}(#{role})
            li
              a(href='/logout')
                  span.glyphicon.glyphicon-log-out 
                  |   注销
          .navbar-form.navbar-right#navgation
            .form-group
              input.form-control#nav-input(type='text', data-provide="typeahead", placeholder="输入导航内容")
    .container-fluid#content
      .col-md-2#accordion
        .panel-group#sidebar(role='tablist', aria-multiselectable='true')
          .panel.panel-default
            .panel-heading#menu1(role='tab')
              h4.panel-title
                a.accordion-toggle.collapsed#main(role='button', data-toggle='collapse', data-parent='#sidebar', href='#menulist1', aria-expanded='false', aria-controls='menulist1')
                  span.glyphicon.glyphicon-th-list.side-icon
                  |  首页
            .panel-heading#menu2(role='tab')
              h4.panel-title
                a.accordion-toggle.collapsed(role='button', data-toggle='collapse', data-parent='#sidebar', href='#menulist2', aria-expanded='true', aria-controls='menulist2')
                  span.glyphicon.glyphicon-th-list.side-icon
                  |  视频流媒体体验趋势总览
            #menulist2.panel-collapse.collapse(role='tabpanel', aria-labelledby='#menu2')
              ul.list-group
                li.list-group-item.video(index='1')
                  a(href='#') 视频流媒体初始播放成功率
                li.list-group-item.video(index='2') 
                  a(href='#') 视频流媒体初始缓冲延时
                li.list-group-item.video(index='3') 
                  a(href='#') 视频流媒体播放停顿率
                li.list-group-item.video(index='4')
                  a(href='#') 视频流媒体停顿频次
                li.list-group-item.video(index='5') 
                  a(href='#') 视频流媒体停顿占比
                li.list-group-item.video(index='6') 
                  a(href='#') 视频流媒体下载速度
            .panel-heading#menu3(role='tab')
              h4.panel-title
                a.accordion-toggle.collapsed(role='button', data-toggle='collapse', data-parent='#sidebar', href='#menulist3', aria-expanded='true', aria-controls='menulist3')
                  span.glyphicon.glyphicon-th-list.side-icon
                  |  WEB网站体验趋势总览
            #menulist3.panel-collapse.collapse(role='tabpanel', aria-labelledby='#menu3')
              ul.list-group
                li.list-group-item.network(index='1')
                  a(href='#') 页面响应成功率
                li.list-group-item.network(index='2')
                  a(href='#') 页面响应延时
                li.list-group-item.network(index='3')
                  a(href='#') 页面显示成功率
                li.list-group-item.network(index='4')
                  a(href='#') 页面显示延时
                li.list-group-item.network(index='5')
                  a(href='#') 页面下载速率
            .panel-heading#menu4(role='tab')
              h4.panel-title
                a.accordion-toggle.collapsed(role='button', data-toggle='collapse', data-parent='#sidebar', href='#menulist4', aria-expanded='false', aria-controls='menulist4')
                  span.glyphicon.glyphicon-user.side-icon
                  |  游戏体验总览
            .panel-heading#menu5(role='tab')
              h4.panel-title
                a.accordion-toggle.collapsed(role='button', data-toggle='collapse', data-parent='#sidebar', href='#menulist5', aria-expanded='false', aria-controls='menulist5')
                  span.glyphicon.glyphicon-user.side-icon
                  |  用户行为分析
            .panel-heading#menu6(role='tab')
              h4.panel-title
                a.accordion-toggle.collapsed(role='button', data-toggle='collapse', data-parent='#sidebar', href='#menulist6', aria-expanded='false', aria-controls='menulist6')
                  span.glyphicon.glyphicon-user.side-icon
                  |  系统管理
            #menulist6.panel-collapse.collapse(role='tabpanel', aria-labelledby='#menu6')
              ul.list-group
                li.list-group-item 
                  a#account(href='#') 用户管理
      .col-md-10#detailContent
        iframe#frameContent(src='/main')
    include footer.jade
    script(src='js/bootstrap3-typeahead.min.js')
    script(src='js/index.js')