doctype html
html(lang='zh-CN')
  head
    include header.jade
    link(href='stylesheets/bootstrap-datetimepicker.min.css', rel='stylesheet', media='screen')
    link(href='stylesheets/common.css', rel='stylesheet')
    link(href='stylesheets/searchbar.css', rel='stylesheet')
    link(href='stylesheets/main.css', rel='stylesheet')
  body
    .container-fluid#current-path
      h4 首页
    include searchbar.jade
    .container-fluid
      .frame.overview-left
        .tab-bar
          ul
            li.tab-btn.active 视频流媒体体验趋势总览
        .radar#video
      .frame.overview-right
        .tab-bar
          ul
            li.tab-btn.active WEB网站体验趋势总览
        .radar#web
      .frame.overview-left
        .tab-bar
          ul
            li.tab-btn.active 游戏体验总览
        .radar#game
      .frame.overview-right
        .tab-bar
          ul
            li.tab-btn.active 用户行为分析
        .radar#user
    include footer.jade
    script(src='js/common.js')
    script(src='js/main.js')