doctype html
html(lang='zh-CN')
    head
        include header.jade
        link(href='stylesheets/bootstrap-datetimepicker.min.css', rel='stylesheet', media='screen')
        link(href='stylesheets/common.css', rel='stylesheet')
        link(href='stylesheets/searchbar.css', rel='stylesheet')
        link(href='stylesheets/main.css', rel='stylesheet')
    body
        .container-fluid#current-path
            h4 首页
        include searchbar.jade
        .container-fluid
            .frame.overview-left
                .tab-bar
                    ul
                        li.tab-btn.active#video-tab 视频流媒体体验趋势总览
                .radar#video
                .score
                    .score-chart#video-score
                        strong
                    .score-start 体验得分 =
                    .score-part ( 视频流媒体初始播放成功率 * 0.167 + 视频流媒体初始缓冲延时 * 0.167
                    .score-part + 视频流媒体播放停顿率 * 0.167 + 视频流媒体停顿频次 * 0.167
                    .score-part + 视频流媒体停顿占比   * 0.167 + 视频流媒体下载速度 * 0.167 ) * 100
            .frame.overview-right
                .tab-bar
                    ul
                        li.tab-btn.active#network-tab WEB 网站体验趋势总览
                .radar#network
                .score#web-score-container
                    .score-chart#web-score
                        strong
                    .score-start 体验得分 =
                    .score-part ( 页面响应成功率 * 0.2 + 页面响应延时 * 0.2 + 页面显示成功率 * 0.2
                    .score-part + 页面显示延时 * 0.2 + 页面下载速率 * 0.2 ) * 100
            .frame.overview-left
                .tab-bar
                    ul
                        li.tab-btn.active 游戏体验总览
                .radar#game
            .frame.overview-right
                .tab-bar
                    ul
                        li.tab-btn.active 用户行为分析
                .radar#user
        include footer.jade
        script(src='js/circle-progress.js')
        script(src='js/common.js')
        script(src='js/main.js')