doctype html
-
 var desc = ['页面响应成功率', '页面响应延时', '页面显示成功率', '页面显示延时', '页面下载速率'];
  var active_status = [];
  for (var i = 1; i <= 5; ++i) {
    if (i == id) {
      active_status.push('active');
    } else {
      active_status.push('inactive');
    }
  }

html(lang='zh-CN')
  head
    include header.jade
    link(href='stylesheets/bootstrap-datetimepicker.min.css', rel='stylesheet', media='screen')
    link(href='http://cdn.bootcss.com/bootstrap-table/1.10.1/bootstrap-table.min.css', rel='stylesheet')
    link(href='stylesheets/common.css', rel='stylesheet')
    link(href='stylesheets/searchbar.css', rel='stylesheet')
    link(href='stylesheets/network.css', rel='stylesheet')
  body
    .container-fluid#current-path
      h4=desc[id-1]
    include searchbar.jade
    .container-fluid
      .frame
        .tab-bar
          ul
            - for (var i = 1; i <= 5; ++i)
              li.tab-btn(class=active_status[i-1], id='network-tab-'+i)=desc[i-1]
        #gauge-container
        #network-container
        .clear-item
      .frame.map
        .tab-bar
          ul
            li.tab-btn.active 区域数据
        #map-container
        #bar-container
        .clear-item
    include footer.jade
    script(src='js/common.js')
    script(src='js/network.js')