nav.navbar.navbar-default#search-bar
  .container-fluid#search-container
    .navbar-header
      a.navbar-brand#search-label 
        span.glyphicon.glyphicon-search#search-icon
        |  筛选条件
      div.navbar-brand#search-arrow-container
        span#search-arrow
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a#search-btn 查询
      .nav.navbar-nav.navbar-right.navbar-form
        .input-group
          span.input-group-addon.search-param-label
            | 地点
          select.form-control.select-time
            option 南京
            option 苏州
            option 扬州
        .input-group
          span.input-group-addon.search-param-label
            | 时间粒度
          select.form-control.select-time#select-fined
            option 小时
            option 天
            option 月
        .input-group.date
          span.input-group-addon.search-param-label
            | 开始日期
          input.form-control#startDate.date-input(type='text', value='2015-05-20 00:00')
        .input-group.date
          span.input-group-addon.search-param-label
            | 结束日期
          input.form-control#endDate.date-input(type='text', value='2015-05-27 00:00')
