.row
  .col-md-3.search-param
    .row
      .col-md-5
        h5.text-right 时间粒度
      .col-md-7
        select.form-control.select-time
          option 小时
          option 天
          option 月
  .col-md-7.search-param
    .row
      .col-md-2
        h5.text-right 开始时间
      .col-md-4
        #datetimepicker1.input-group.date
          input.form-control(type='text')
          span.input-group-addon
            span.glyphicon.glyphicon-th
      .col-md-2
        h5.text-right 结束时间
      .col-md-4
        #datetimepicker2.input-group.date
          input#input3.form-control(type='text')
          span.input-group-addon
            span.glyphicon.glyphicon-th
  .col-md-2.search-param
    #search-btn.btn-group(role='group', aria-label='...')
      button#btn-search.btn.btn-default.search-btn(type='submit') 查询
      button.btn.btn-default.search-btn(type='submit') 导出