body {
  font-family: "Helvetica Neue", "Helvetica", "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", "sans-serif";
  height:100%;
  background-color: #f2f2f2;
}

.overview-left {
    /*height:360px;*/
    width:49%;
    float:left;
    margin-bottom:20px;
}

.overview-right {
    /*height:360px;*/
    width:49%;
    float:right;
    margin-bottom:20px;
}

.radar {
  width:100%;
  height:320px;
  margin-top:40px;
  cursor:pointer;
}

.score {
  width:100%;
  height:110px;
  background-color: #fff;
  border: 0px solid #ddd;
  border-left-width: 0px;
  border-left-color: #4cc3a5;
  border-top-width:1px;
  padding: 10px;
  padding-top:15px;
}

.score-chart {
  float:left;
  width:100px;
  height:90px;
  margin-top:-5px;
}

.score-start {
  float:left;
  width:100px;
  height:80px;
  line-height: 30px;
  text-align: center;
  font-style: italic;
}

.score-part {
  margin-left:200px;
  height:25px;
  line-height: 25px;
  text-align: left;
  color:#888;
  font-style: italic;
}

#web-score-container {
  padding-top:30px;
  padding-bottom:0px;
}

#web-score {
  margin-top: -20px;
}