#video-container {
    height: 450px;
    margin-right:450px;
    margin-top:40px;
}

#gauge-container {
    height: 450px;
    width: 450px;
    float:right;
}

#map-container {
    float:left;
    width:500px;
    height:500px;
}

#bar-container {
    height:500px;
    margin-top:40px;
    margin-left:500px;
}

.clear-item {
    clear:both;
}

.map {
    margin-top:20px;
}